@media only screen and (min-width: 1920px) {
    #main{
        background: url("https://github.com/TobiasUr/TobiasUr.github.io/blob/main/media/background_main.jpg") no-repeat;
        height: 1080px;
    }
    .nav-item, .navbar-nav{
        margin: 20px;
    }
    #name{
        font-size: 6.5rem;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    #main{
        background: url("https://github.com/TobiasUr/TobiasUr.github.io/blob/main/media/background_main.jpg") no-repeat;
        height: 768px;
    }
    .nav-item, .navbar-nav{
        margin: 15px;
    }
    #name{
        font-size: 5rem;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    #main{
        background: url("https://github.com/TobiasUr/TobiasUr.github.io/blob/main/media/background_main.jpg") no-repeat;
        height: 800px;
    }
    .nav-item, .navbar-nav{
        margin: 15px;
    }
    #name{
        font-size: 5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #main{
        background: url("https://github.com/TobiasUr/TobiasUr.github.io/blob/main/media/background_main.jpg") no-repeat;
        height: 1028px;
    }
    #name{
        font-size: 3.5rem;
    }
}
@media only screen and (max-width: 767px) {
    #main{
        background: url("https://github.com/TobiasUr/TobiasUr.github.io/blob/main/media/background_main.jpg") no-repeat;
        height: 736px;
    }
    #name{
        font-size: 3.5rem;
        margin-left: 20px !important;
    }
    .line-1{
        margin-left: 20px !important;
    }
}